body {
  padding: 0;
  margin: 0;
  text-align: center;
} 

canvas {vertical-align: top;}

h1 {
 font-family: Helvetia;
 color: black;
}

h2 {
 font-family: Helvetia;
 color: grey;
}

.divSketches {
 color: blue;
}